.cookies-consent {
    opacity: 0;
    position: fixed;
    bottom: 0;
    left: 0;

    transition: opacity 0.5s;
    z-index: 9999;

    margin: 1rem;
    padding: 1.25rem;

    background: white;

    max-width: 350px;
    border-radius: 20px 20px 60px 20px;
    box-shadow: -2px 2px 10px 0px rgba(0, 0, 0, 0.3);

    font-size: 0.9rem;

    .heading {
        display: flex;
        flex-flow: row-reverse;
        font-size: 1.05rem;
        margin-bottom: 0.5rem;

        img {
            height: 30px;
            object-fit: contain;
        }

        b {
            margin: auto auto 0 0;
            line-height: 1;
        }
    }

    .text {
        margin-top: 0;
        margin-bottom: 0.75rem;
    }

    .action button {
        font-size: calc(0.75rem + 0.1vw);
        text-transform: uppercase;

        font-weight: bold;
        border-width: 2px;
        border-radius: 50rem;

        &:hover,
        &:active {
            color: white;
        }
    }
}


footer {
    background: linear-gradient(90deg, #163147, #2471a0);
    a {
        color: #fff !important;
        font-weight: 400;
        transition: color .3s;

        &:hover, &:active, &:focus {
            color: #9ED5F8 !important; 
        }
    }

    .footer-1 {
        padding: 2rem 0;
        
        .logo {
            img {
                width: 180px;
                height: auto;
            }
        }

        .social-icons {
            font-size: 1.5rem;

            a {
                margin-right: 1rem;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .navbar-nav {
            text-transform: uppercase;
            .nav-link {
                padding: .25rem 0;
                font-size: .9rem !important;
                font-weight: 500;
                letter-spacing: 0.1rem;
            }
        }
    }
    
    .footer-2 {
        padding: 1.5rem 0;
        background-color: rgba(0, 0, 0, 0.3);
        color: #fff;
        
        .whatsapp-number, .whatsapp-btn {
            color: #fff;
            .icon {
                font-size: 1.25rem;
                margin-right: .75rem;
            }
            
            .text {
                font-size: .9rem;
            }
        }
        
        .address { 
            font-size: 0.85em;

            p {
                margin: 0;
            }
        }
        
        .whatsapp-btn {
            padding: .25rem 2.5rem;
            
            .text {
                font-weight: 500;
            }

            &:hover, &:active, &:focus {
                color: white !important;
            }
        }
    }

    .footer-3 {
        padding: 1.5rem 0;
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;

        .bottom-text {
            font-size: .75rem;
            font-weight: 300;
        }
    }
}