// Styling for forms
@import './forms.scss';

// Styles for partials
@import "./partials/header.scss";
@import "./partials/footer.scss";
@import "./partials/blog.scss";
@import "./partials/pagination.scss";

// Styles for shortcodes
@import "./shortcodes/empreendimentos-em-destaque";
@import "./shortcodes/empreendimentos-grid";
@import "./shortcodes/form-simples";
@import "./shortcodes/blog-recentes";

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none !important;
}

a.underline {
    text-decoration: underline !important;
}

body {
    overflow-y: scroll !important;

    &.error404 {
        display: flex;
        flex-flow: column;
        height: 100vh;
    }
}

*::selection {
    background-color: var(--bs-primary);
    color: white;
}

@media all and (min-width: 1200px) {
    .container.default-femai {
        max-width: 900px;
    }
}
