// Styling for forms
@import './forms.scss';

// Styles for partials
@import "./partials/header.scss";
@import "./partials/footer.scss";
@import "./partials/blog.scss";
@import "./partials/pagination.scss";

// Styles for shortcodes
@import "./shortcodes/empreendimentos-em-destaque";
@import "./shortcodes/empreendimentos-grid";
@import "./shortcodes/form-simples";
@import "./shortcodes/blog-recentes";
@import "./shortcodes/address-map";
@import "./shortcodes/form-multiplo";

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none !important;
}

a.underline {
    text-decoration: underline !important;
}

body {
    overflow-y: scroll !important;

    &.error404 {
        display: flex;
        flex-flow: column;
        height: 100vh;
    }
}

*::selection {
    background-color: var(--bs-primary);
    color: white;
}

@media all and (min-width: 1200px) {
    .container.default-femai {
        max-width: 900px;
    }
}

.searchform {
    position: relative;

    input {
        border-radius: 0;
        background: #f2f2f2;
        border: 1px solid #999999;
        padding: .5rem .75rem;
        border-radius: 0 10px;
    }
    
    button {
        position: absolute;
        right: 0;
        height: 100%;
        border: none;
        border-radius: 0 10px 0 0;
        color: white !important;
    }
}